<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="EnvironmentSection" type="CareComAutomatedUITests.Configuration.Environments.EnvironmentsSection, SeleniumFramework" />
    <section name="User" type="CareComAutomatedUITests.Configuration.User.User, SeleniumFramework" />
  </configSections>

  <connectionStrings>
    <add name="NgsCoreConnectionString" connectionString="Data Source=qa1ftdbp1;MultipleActiveResultSets=True;Initial Catalog=NgsCoreFac;User ID=testrunner;Password=testrunner" providerName="System.Data.SqlClient" />
    <add name="NewgConnectionString" connectionString="Data Source=qa1ftdbp1;MultipleActiveResultSets=True;Initial Catalog=Newg;User ID=testrunner;Password=testrunner" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ScreenshotsFolder" value="C:\Temp\AutomatedUITests_screenshots"/>
    <add key="Browser" value="OpenQA.Selenium.Chrome.ChromeDriver"/>
    <!--<add key="Browser" value="OpenQA.Selenium.FireFox.FireFoxDriver"/>-->
    <add key="UAT1Enviroment" value="https://rozetka.com.ua/"/>
    <add key="ProdEnviroment" value="https://rozetka.com.ua/"/>
    <add key="user" value="admin@example.com"/>
    <add key="password" value="admin"/>
    <add key="accountNumber" value="12541"/>
    <add key="AccountNumber" value="15000"/>
    <add key="EINNumber" value="067251011"/>
    <add key="ImplicitWaitTimeout" value="3"/>
    <add key="retryTest" value="3"/>
  </appSettings>
  <EnvironmentSection>
    <Environments>
      <Environment name="UAT1Enviroment" url="https://rozetka.com.ua/" />
      <Environment name="ProdEnviroment" url="https://rozetka.com.ua/" />
    </Environments>
  </EnvironmentSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
